<nav class="shadow-sm navbar navbar-expand-md navbar-dark fixed-top bg-dark mb-auto">
  <a class="navbar-brand" routerLink="/">
    <img src="assets/img/fish_color.svg" height="45" alt="fisHappy" class="d-inline-block">
    FishAppy
  </a>
  <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class = "navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="stream">Stream</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="settings">Settings</a>
      </li>
    </ul>
  </div>
</nav>
